* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* background: linear-gradient(135deg, #f0f4f8, #3d85d7); */
}
ul {
  list-style-type:none;
  padding:0px;
  margin:0px;
}
li {
  list-style-type:none;
  margin-bottom:1.5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Ensure the wrapper takes up the entire viewport height */
  margin: 0 auto;
}
.brand_container {
    /* background: hsl(143, 47%, 48%); */
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 0.3rem;
    max-width: 15%;
    display:block ;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    top: 0;
    margin-top: 2rem;
  }

  .brand_container h2 {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: rgb(255 90 95);
    ;
  }
  .title_container {
    /* font-family: 'Roboto', sans-serif; */
    /* color: rgb(255 90 95); */
    line-height: 1;
    border-radius: 12px;
    /* background-color: rgb(230, 146, 101); */
    width: 100%;
    display: block;
    padding: 0.2rem;
    margin-bottom: 10px;
    margin-top: 10px;
    z-index: 1000;
    /* height: 60px; */
}

.title_container h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: rgb(255 90 95);
  }
.title_container h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #333;
  }
  .title_container h3 {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #333;
    font-style: italic;
  }

.userpage_container {
    /* background: hsl(143, 47%, 48%); */
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: stretch;
    text-align: center;
    margin-bottom: 10px;
  }
  .userpage_container h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #333;
  }

  .userpage_container h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
  }
  
  .userpage_container h3 {
    font-size: 18px;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #333;
}

.host_container {
    width: 100%;
    height: 40%;
    margin: 1rem 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex: 1; 
    margin-bottom: 1rem; 
    /* background-color: rgb(186, 165, 32); */
    /* border: 1px solid rgb(0, 0, 0); */ 
  }
  .host_container h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #333;
  }
  .guest_container {
    width: 100%;
    height: 40%;
    margin: 1rem 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex: 1; 
    margin-bottom: 1rem; 
    /* background-color: rgb(186, 165, 32); */
    /* border: 1px solid rgb(0, 0, 0); */
  }
  .guest_container h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #333;
  }


.My_Properties, .Their_Properties {    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(60, 65, 75);
    line-height: 1.5;
    margin: 5px;
    display: inline-block;
    width: 27%;
    height: 70%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    vertical-align: top;
    overflow:auto;
    text-overflow:clip; 
    position: relative;
    /* background-color: rgb(7, 185, 165); */
    /* border: 1px solid #050404; */
  }

  .My_Properties button {
    width: 90%;
    border: none;
    border-radius: 8px;
    background-color: rgb(255 90 95);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem; 
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
.My_Properties button:hover {
    /* text-decoration: underline; */
    color: rgb(60, 65, 75);
}

.Their_Properties button {
    width: 90%;
    border: none;
    border-radius: 8px;
    background-color: rgb(255 90 95);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem; 
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
.Their_Properties button:hover {
  color: rgb(60, 65, 75);
}

/* Back button container */
.back_button_container {
  width: 100%; 
  display: flex;
  justify-content: center;
  margin-top: auto; 
  padding: 1rem;
}

/* .back_button_container button {
  width: 150px;
  border: none;
  border-radius: 8px;
  background-color: rgb(255 90 95);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.3rem 1rem;
  margin: 5px;
  font-size: .7rem;
  text-align: center; 
} */


.back_button_container a {
  text-decoration: none;
  font-size: .8rem;
  font-weight: 400;
  display: block; 
  text-align: center; 
  width: 100%; 
  /* font-style: italic; */
  /* color: white; */
  /* color: #333; */
  /* margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.rem; */
}

button {
  width: 150px;
  border: none;
  border-radius: 8px;
  background-color: rgb(255 90 95);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.3rem 1rem;
  margin: 5px;
  font-size: .7rem;
  text-align: center; 
}

button:hover {
   color: rgb(60, 65, 75);
}
