* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f0f4f8, #3d85d7);
}

/* p, h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #333;
}
h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #333;
  font-style: italic;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(60, 65, 75);
    line-height: 1.5;
    margin: 20px;
} */

.sign_up_container {
    background: hsl(0, 0%, 100%);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
    }

.sign_up_container h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #333;
    font-style: italic;
  }

  .sign_up_container h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #333;
  }

.sign_up_container button {
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #001aff;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto; /* Ensures it moves to the bottom of the flex container */
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  /* position: absolute; */
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between; /* This ensures space for both buttons */
  position: relative;
}
.sign_up_container button:hover {
    color: #0056b3;
}
.sign_up_container input[type="text"],
  .sign_up_container input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }

.sign_up_container input[type="text"]:focus,
.sign_up_container input[type="password"]:focus {
    color: rgb(60, 65, 75);
    /* font-size: 12px; */
    font-family: 'Roboto', sans-serif;
    /* text-decoration: underline; */
    font-weight: bold;
    border-color: #007bff;
    outline: none;
}

.sign_up_container form {
    width: 100%;
    margin-bottom: 0rem;
  }

.log_in_container {
    background: hsl(0, 0%, 100%);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
  }

  .log_in_container h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: #333;
  }

  .log_in_container input[type="text"],
  .log_in_container input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }

.log_in_container input[type="text"]:focus,
.log_in_container input[type="password"]:focus {
    color: rgb(60, 65, 75);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-color: #007bff;
    outline: none;
}

.log_in_container button {
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #0dff00;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto; /* Ensures it moves to the bottom of the flex container */
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  /* position: absolute; */
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between; /* This ensures space for both buttons */
  position: relative;
}
.log_in_container button:hover {
  color: #0056b3;
}

.log_in_container form {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* .log_in_container .sign-up-btn {
  margin-top: 1rem;
} */

  form label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: left;
  }
