<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style_booking.css" />
    </head>
    <body>
        <div class="booking_page_container">
        <h2>Available Spaces</h2>
        <ul>
            {% for space in spaces %}
                <li>
                    <form action="/{{id}}/{{date}}/{{space.id}}/bookings/request" method="POST">
                        <a href="/spaces/{{space.id}}">{{space.name}}<br> {{space.short_description}}<br>{{space.price_per_night}} per night<br></a>
                        <button type="submit">Request property</button>
                    </form>
                    <br>
                </li>
            {% endfor %}
        </ul>
        <br>
        </div>
        <div class="button_container">
        <button onclick="window.history.back()" ><a>Go back</a></button>
        </div>
    </body>
</html>