<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style_bookings.css" />
    </head>
    <body>
        <div class="wrapper">
        <div class="title_container">
            <h2>Book a Space</h2>
        </div>
            <div class="date_dropdown_container">
                <form action="/index/{{ user.id }}/bookings" method="POST">
                    <label for="date">Choose a date:</label>
                    <input type="date" id="date" name="date">
                    <input type="submit" value="Submit">
                </form>
        </div>            
        <div class="booking_page_container">
                <ul>
                {% for space in spaces %}
                    <li>
                        <!-- Commented out code makes whole box clickable -->
                        <!-- <a href="/spaces/{{space.id}}">{{space.name}}<br><br>{{space.short_description}}<br>{{space.price_per_night}} p/ night</a> -->
                        <a><b>{{space.name}}</b><br><br>{{space.short_description}}<br>£{{space.price_per_night}} p/ night</a>
                        <button type="submit">View</button>
                    </li>
                {% endfor %}
                </ul>
            </div>            
            <div class="back_button_container">
                <button onclick="window.history.back()"><a>Go Back</a></button>
                <button onclick="window.location.href='/index/{{user.id}}'"><a>User Homepage</a></button>
                <button onclick="window.location.href='/index'"><a>Log Out</a></button>
            </div>
    </div>
    </body>
</html>