<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style_bookings.css" />
    </head>
    <body>
        <div class="wrapper">
        <div class="title_container">
        <h2>Available Spaces</h2>
        </div>
        <div class="booking_page_container">
        <ul>
            {% for space in spaces %}
                <li>
                    <form action="/{{id}}/{{date}}/{{space.id}}/bookings/request" method="POST">
                        <!-- Commented out code makes whole box clickable -->
                        <!-- <a href="/spaces/{{space.id}}">{{space.name}}<br><br>{{space.short_description}}<br>{{space.price_per_night}} p/ night</a> -->
                        <a><b>{{space.name}}</b><br><br>{{space.short_description}}<br>£{{space.price_per_night}} p/ night</a>
                        <button type="submit">Enquire</button>
                    </form>
                    <br>
                </li>
            {% endfor %}
        </ul>
        <br>
        </div>
        <div class="back_button_container">
        <button onclick="window.history.back()" ><a>Go back</a></button>
        </div>
        </div>
    </body>
</html>