<!DOCTYPE html>
<html>
    <head>
        <title>{{space.name}} | MakersBnB</title>
        <link rel="stylesheet" href="/static/style_spaces.css" />
        <script>
            // Function to show the modal popup
            function showEnquirePopup() {
                const modalOverlay = document.getElementById("modal-overlay");
                modalOverlay.style.display = "block"; // Show the modal
            }

            // Function to close the modal popup
            function closeEnquirePopup() {
                const modalOverlay = document.getElementById("modal-overlay");
                modalOverlay.style.display = "none"; // Hide the modal
                window.location.href = '/index/{{user.id}}';

            }
        </script>
    </head>
    <body>
        <div class="wrapper">
            <div class="brand_container"> 
                <button_b_c onclick="window.location.href='/index/{{user.id}}'"><h2>MakersBnB</h2>
                </button_b_c>
              </div>           
            <div class="title_container">
                <h2>{{space.name}}</h2>
                <h3>{{space.short_description}}</h3>
            </div>
            <div class="space_image_container">
                <img src="{{image.image_url}}" alt="{{space.name}}">
            </div>
            <div class="property_status_container">
                <a><b>Hosted by: {{user.username}}</b>
                    <br>
                <i>£{{space.price_per_night}}</i>
                    <br>
                <!-- {{'Available' if space.availability else 'Currently Unavailable'}} -->
            </a>
                <!-- <button type="button" onclick="showEnquirePopup()">Enquire</button> -->
            </div>
                <div class="back_button_container">
                <!-- <button onclick="window.history.back()"><a>Go Back</a></button> -->
                <!-- <button onclick="window.location.href='/index/{{user.id}}'"><a>User Homepage</a></button> -->
                <button onclick="window.location.href='/index'"><a>Log Out</a></button>
            </div>

            
        <!-- Modal structure -->
        <div id="modal-overlay" class="modal-overlay">
            <div class="modal">
                <p>Enquire sent</p>
                <button onclick="closeEnquirePopup()">Home</button>
            </div>
        </div>        
    </body>
</html>
