<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserPage | MakersBnB</title>
    <link rel="stylesheet" href="/static/style_user_homepage.css" />
  </head>
  <body>
    <div class="wrapper">
    <div class="brand_container"> 
      <h2>MakersBnB</h2>
    </div> 
    <div class="title_container"> 
      <h1>Welcome</h1>
      <h2>{{ user.username }}</h2>
    </div>
    <div class="userpage_container"> 
     <div class="host_container">
      <h2>Hosting</h2>        
      <div class="My_Properties"> 
          <h3>Properties</h3>
          <strong>
            {% if spaces == [] %}
            <span>You own 0 spaces</span>
            {% else %}
            <ul>
              {% for space in spaces %}
              <li href="/spaces/{{space.id}}">{{space.name}}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <form action="/index/{{ user.id }}/update_space" method="GET">
              <!-- <button type="submit">Update</button> -->
            </form>
            <form action="/index/{{ user.id }}/new-listing" method="GET">
              <button type="submit">New Listings</button>
            </form>
          </strong>
        </div>
        
        <div class="My_Properties">
          <h3>Approved Bookings</h3>
          <ul>
            {% if approved == [] %}
              <span>You have 0 approved spaces</span>
            {% else %}
              {% for booking in approved %}
                  <li>Guest id: {{booking.guest_id}}<br>Date: {{booking.start_date}}<br>Space id: {{booking.space_id}}</li>
              {% endfor %}
          {% endif %}
          </ul>
          <ul>
            <form action="/index/{{ user.id }}/approve_bookings" method="GET">
              <button type="submit">Details</button>
            </form>
          </ul>
        </div>

        <div class="My_Properties">
            <h3>Pending Bookings</h3>
            <ul>
              {% if pending == [] %}
              <span>You have 0 pending spaces</span>
                {% else %}
                  {% for booking in pending %}
                    <li>Booking date: {{booking.start_date}}<br>Guest id: {{booking.guest_id}}<br>Space id: {{booking.space_id}}
                    <form action="/{{user.id}}/{{booking.id}}/approved_booking" method="POST">
                      <button type="submit">Accept</button>
                    </form>
                    <form action="/{{user.id}}/{{booking.id}}/declined_booking" method="POST">
                      <button type="submit">Decline</button>
                    </form>
                    </li>
                  {% endfor%}
                {% endif %}
            </ul>
          </div>
        </div>
<!-- GUEST_CONTAINER -->
    <div class="guest_container">      
      <h2>Guesting</h2>

      <div class="Their_Properties">
        <h3>Your Details</h3>
        <ul>
          <!-- <li><b>Username:</b> -->
            <br> {{ user.username }}</li>
          <!-- <br> -->
          <!-- <li><b>Email:</b> -->
            <br>{{ user.username }}@waterbnb.com</li>
          <!-- <br> -->
          <!-- <li><b>Phone Number:</b> -->
            <br> 07793312343</li>
        </ul>
        <form action="/index/{{ user.id }}/user_details" method="GET">
          <button type="submit">Update</button>
        </form>
      </div>
      <div class="Their_Properties">
        <h3>Create a booking</h3>
        <form action="/index/{{ user.id }}/bookings" method="GET">
          <button type="submit">Create</button>
        </form>
      </div>
      <div class="Their_Properties">
        <h3>Future Stays</h3>
        <ul>
            {% if guest_approved == [] %}
              <li><span>0 approved bookings</span></li>
              
            {% else %}
                {% for booking in guest_approved %}
                <br>
                    <li><b></b>Date:</b>{{booking.start_date}}<br><br>Name:</b>{{booking.space_id}}<br><b>Approved</b></li>
                {% endfor %}
            {% endif %}
            
            {% if guest_pending == [] %}
             <li><span>0 pending bookings</span></li>
              <br>

            {% else %}
                {% for booking in guest_pending %}
                <br>
                <li><b>Date:</b>{{booking.start_date}}
                <br><b>Name:</b>{{booking.space_id}}
                <br><b>Pending</b></li>
                {% endfor %}
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="back_button_container">
    <!-- <button onclick="window.history.back()"><a>Go Back</a></button>
    <button onclick="window.location.href='/index/{{user.id}}'"><a>User Homepage</a></button> -->
    <button onclick="window.location.href='/index'"><a>Log Out</a></button>
</div>
</div>
</body>
</html>
