<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MakersBnB</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/style_user_homepage.css" />
  </head>
  <body>
    <div class="brand_container"> 
      <h2>Brand Name</h2>
    </div> 
    
    <div class="welcome_container"> 
      <h1>Welcome to your profile</h1>
      <p>{{ user.username }}</p>
     </div>

     <div class="userpage_container"> 

<!-- HOST_CONTAINER  -->
     <div class="host_container">
      <h2 class="header">Your Properties</h2>        
      <div class="My_Properties"> 
          <h3>Properties</h3>
          <strong>
            {% if spaces == [] %}
            <span>You own 0 spaces</span>
            {% else %}
            <ul>
              {% for space in spaces %}
              <li href="/spaces/{{space.id}}">{{space.name}}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <form action="/index/{{ user.id }}/new-listing" method="GET">
              <button type="submit">New Listings</button>
            </form>
            <form action="/index/{{ user.id }}/update_space" method="GET">
              <button type="submit">Update</button>
            </form>
          </strong>
        </div>
        
        <div class="My_Properties">
          <h3>Approved Bookings</h3>
          <ul>
            {% if approved == [] %}
              <span>You have 0 approved spaces</span>
            {% else %}
              {% for booking in approved %}
                  <li>Guest id: {{booking.guest_id}}<br>Date: {{booking.start_date}}<br>Space id: {{booking.space_id}}</li>
              {% endfor %}
          {% endif %}
          </ul>
          <ul>
            <form action="/index/{{ user.id }}/approve_bookings" method="GET">
              <button type="submit">Details</button>
            </form>
          </ul>
        </div>

        <div class="My_Properties">
            <h3>Pending Bookings</h3>
            <ul>
              {% if pending == [] %}
              <span>You have 0 pending spaces</span>
                {% else %}
                  {% for booking in pending %}
                    <li>Booking date: {{booking.start_date}}<br>Guest id: {{booking.guest_id}}<br>Space id: {{booking.space_id}}
                    <form action="/{{user.id}}/{{booking.id}}/approved_booking" method="POST">
                      <button type="submit">Accept</button>
                    </form>
                    <form action="/{{user.id}}/{{booking.id}}/declined_booking" method="POST">
                      <button type="submit">Decline</button>
                    </form>
                    </li>
                  {% endfor%}
                {% endif %}
            </ul>
          </div>
        </div>
<!-- GUEST_CONTAINER -->
    <div class="guest_container">      
      <h2 class="header">Guest</h2>

      <div class="Their_Properties">
        <h3>Your Details</h3>
        <ul>
          <li><b>Username:</b><br> {{ user.username }}</li>
          <br>
          <li><b>Email:</b><br>{{ user.username }}@waterbnb.com</li>
          <br>
          <li><b>Phone Number:</b><br> 07793312343</li>
        </ul>
        <form action="/index/{{ user.id }}/user_details" method="GET">
          <button type="submit">Update</button>
        </form>
      </div>
      <div class="Their_Properties">
        <h3>Create a booking</h3>
        <form action="/index/{{ user.id }}/bookings" method="GET">
          <button type="submit">Create</button>
        </form>
      </div>
      <div class="Their_Properties">
        <h3>Future Stays</h3>
        <ul>
            {% if guest_approved == [] %}
              <li><span>0 approved future bookings</span></li>
              <br>
            {% else %}
                {% for booking in guest_approved %}
                <br>
                    <li>Date: {{booking.start_date}}<br>Name: {{booking.space_id}}<br>(Approved)</li>
                {% endfor %}
            {% endif %}
            
            {% if guest_pending == [] %}
             <li><span>You have 0 pending future bookings</span></li>
              <br>

            {% else %}
                {% for booking in guest_pending %}
                <br>
                    <li>Date: {{booking.start_date}}<br>Name: {{booking.space_id}}<br>(Pending)</li>
                {% endfor %}
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
